In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic=sns.load_dataset('titanic data set')
titanic

ValueError: 'titanic data set' is not one of the example datasets.