In [8]:
from datetime import datetime
a=datetime(year=2023,month=7,day=11,hour=9,minute=39,second=49)

In [9]:
print(a)

2023-07-11 09:39:49

In [11]:
from dateutil import parser
date=parser.parse("3rd of July,2023 ")
print(date)

2023-07-03 00:00:00

In [16]:
date.strftime("%A")

'Monday'

In [28]:
import numpy as np
date=np.array('2023-06-15',dtype=np.datetime64)
print(date)

2023-06-15

In [20]:
date+np.arange(6)

array(['2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18',
       '2023-06-19', '2023-06-20'], dtype='datetime64[D]')

In [21]:
date-np.arange(6)

array(['2023-06-15', '2023-06-14', '2023-06-13', '2023-06-12',
       '2023-06-11', '2023-06-10'], dtype='datetime64[D]')

In [30]:
np.datetime64('2023-07-11 23:59:34')

numpy.datetime64('2023-07-11T23:59:34')

In [40]:
np.datetime64('2023-03-21 23:23:53.24','ms')

numpy.datetime64('2023-03-21T23:23:53.240')

In [49]:
import pandas as pd
date=pd.to_datetime('2015, 15th of June, 10:30')
date

Timestamp('2015-06-15 10:30:00')

In [46]:
d=pd.to_datetime('June 15 2005')
d

Timestamp('2005-06-15 00:00:00')

In [47]:
d.strftime('%A')

'Wednesday'

In [51]:
date.strftime('%T')

'10:30:00'

In [56]:
date+pd.to_timedelta(np.arange(8),'D')

DatetimeIndex(['2015-06-15 10:30:00', '2015-06-16 10:30:00',
               '2015-06-17 10:30:00', '2015-06-18 10:30:00',
               '2015-06-19 10:30:00', '2015-06-20 10:30:00',
               '2015-06-21 10:30:00', '2015-06-22 10:30:00'],
              dtype='datetime64[ns]', freq=None)

In [61]:
index=pd.DatetimeIndex(['2005-06-15','2004-12-3','2004-05-12','2004-12-31'])
data=pd.Series([0,1,2,3],index=index)
data

2005-06-15    0
2004-12-03    1
2004-05-12    2
2004-12-31    3
dtype: int64

In [66]:
data['2005-06-15']

0

In [68]:
data['2004-12-03':'2004-12-31']

2004-12-03    1
2004-12-31    3
dtype: int64

In [69]:
data['2004-12-03':]

2005-06-15    0
2004-12-03    1
2004-12-31    3
dtype: int64

In [72]:
dates=pd.to_datetime([datetime(2023,4,21),'11th of July 2023','2012-jun-15','20/04/2001','20050615'])
dates

C:\Users\Rakshitha\AppData\Local\Temp\ipykernel_13188\3169797480.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dates=pd.to_datetime([datetime(2023,4,21),'11th of July 2023','2012-jun-15','20/04/2001','20050615'])

DatetimeIndex(['2023-04-21', '2023-07-11', '2012-06-15', '2001-04-20',
               '2005-06-15'],
              dtype='datetime64[ns]', freq=None)

In [78]:
dates.to_period('D')

PeriodIndex(['2023-04-21', '2023-07-11', '2012-06-15', '2001-04-20',
             '2005-06-15'],
            dtype='period[D]')

In [76]:
dates-dates[0]

TimedeltaIndex(['0 days', '81 days', '-3962 days', '-8036 days', '-6519 days'], dtype='timedelta64[ns]', freq=None)

In [82]:
pd.date_range('2005/06/15','2005/07/3')

DatetimeIndex(['2005-06-15', '2005-06-16', '2005-06-17', '2005-06-18',
               '2005-06-19', '2005-06-20', '2005-06-21', '2005-06-22',
               '2005-06-23', '2005-06-24', '2005-06-25', '2005-06-26',
               '2005-06-27', '2005-06-28', '2005-06-29', '2005-06-30',
               '2005-07-01', '2005-07-02', '2005-07-03'],
              dtype='datetime64[ns]', freq='D')

In [85]:
pd.date_range('2005/06/15',periods=10,freq='H')

DatetimeIndex(['2005-06-15 00:00:00', '2005-06-15 01:00:00',
               '2005-06-15 02:00:00', '2005-06-15 03:00:00',
               '2005-06-15 04:00:00', '2005-06-15 05:00:00',
               '2005-06-15 06:00:00', '2005-06-15 07:00:00',
               '2005-06-15 08:00:00', '2005-06-15 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [86]:
pd.date_range('2005/06/15',periods=10,freq='M')

DatetimeIndex(['2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30',
               '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31',
               '2006-02-28', '2006-03-31'],
              dtype='datetime64[ns]', freq='M')

In [89]:
pd.date_range('2005/06/15',periods=10,freq='m')

DatetimeIndex(['2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30',
               '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31',
               '2006-02-28', '2006-03-31'],
              dtype='datetime64[ns]', freq='M')

In [91]:
pd.timedelta_range(0,periods=10,freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='H')