In [2]:
 import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/Rakshitha/Downloads/flower.csv")
print(df.head(2))

   Sepal.Length    Sepal.Width   Species
0            5.3            3.7   setosa
1            5.1            3.8   setosa

In [4]:
df

    Sepal.Length    Sepal.Width       Species
0             5.3            3.7       setosa
1             5.1            3.8       setosa
2             7.2            3.0    virginica
3             5.4            3.4       setosa
4             5.1            3.3       setosa
5             5.4            3.9       setosa
6             7.4            2.8    virginica
7             6.1            2.8   versicolor
8             7.3            2.9   virginica
9             6.0            2.7   versicolor
10            5.8            2.8    virginica
11            6.3            2.3   versicolor
12            5.1            2.5   versicolor
13            6.3            2.5   versicolor
14            5.5            2.4   versicolor
15            5.2            3.1          x

In [5]:
df.columns

Index(['Sepal.Length ', ' Sepal.Width ', ' Species '], dtype='object')

In [6]:
 a=df.set_index([' Sepal.Width '])
a.sort_index()
print(a.head(5))

               Sepal.Length      Species
 Sepal.Width
3.7                      5.3      setosa
3.8                      5.1      setosa
3.0                      7.2   virginica
3.4                      5.4      setosa
3.3                      5.1      setosa

In [9]:
b=a.loc[3.0]
b

Sepal.Length             7.2
 Species          virginica
Name: 3.0, dtype: object

In [11]:
a.iloc[5]

Sepal.Length          5.4
 Species          setosa
Name: 3.9, dtype: object