In [3]:
i=0
for i in range(0,25,5):
    print (i)

0
5
10
15
20

In [5]:
fruits=['apple','mango','orange','grape','watermelon','guava','pineapple']
for i in enumerate(fruits):
    print (i)

(0, 'apple')
(1, 'mango')
(2, 'orange')
(3, 'grape')
(4, 'watermelon')
(5, 'guava')
(6, 'pineapple')

In [7]:
a=67
b=98
while a<b:
    print (b)
    break

98

In [13]:
age=int(input("Enter the age:"))
if age>=18:
    print("eligible to vote")
else:
    print("not eligible to vote")

Enter the age:19
eligible to vote

In [12]:
a=int(input("Enter a number:"))
fact=1
while a!=0:
    fact=fact*a
    a-=1
print(fact)

Enter a number:12
479001600

In [17]:
n=int(input("Enter a number:"))
for i in range(n):
    for j in range (i):
        print(i,end=' ')
    print('')

Enter a number:4

1
2 2
3 3 3

In [20]:
a=int(input("Enter the range:"))
n=-1
n2=1
for i in range(a):
    n3=n+n2
    n=n2
    n2=n3
    print(n3)

Enter the range:10
0
1
1
2
3
5
8
13
21
34

In [1]:
name=input("Enter a name:")
for ch in name:
    print(ch)

Enter a name:veda
v
e
d
a

In [7]:
a=18
b=46
a=a+b
b=a-b
a=a-b
print(a,b)

46 18

In [13]:
km=int(input("Enter the kilometer:"))
m=km*0.621371
print(m)

Enter the kilometer:345
214.372995

In [16]:
a=int(input("Enter a no:"))
if a>0:
    print("positive")
elif a==0:
    print("zero")
else:
    print("negative")

Enter a no:0
zero

In [17]:
a=int(input("Enter a year:"))
if a%4==0:
    print("leap year")
else:
    print("not leap year")

Enter a year:2024
leap year